<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <appSettings>
        <add key="log4net.Internal.Debug" value="false" />
        <add key="Transport.MaxReceivedMessageSize" value="2147483647" />
        <add key="Encoding.MaxArrayLength" value="2147483647" />
        <add key="Encoding.MaxBytesPerRead" value="2147483647" />
        <add key="Encoding.MaxStringContentLength" value="2147483647" />
    </appSettings>
    <system.diagnostics>
        <!--<trace autoflush="true">
            <listeners>
                <add
                 name="textWriterTraceListener"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="c:\\trace.txt" />
            </listeners>
        </trace>-->
    </system.diagnostics>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite"/>
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" 
                 description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
        </DbProviderFactories>
    </system.data>
    <system.net>
        <!--<defaultProxy>
            <proxy bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" />
        </defaultProxy>-->
    </system.net>
    <log4net>
        <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
            <param name="RemoteAddress" value="127.0.0.2" />
            <param name="RemotePort" value="9090" />
            <layout type="log4net.Layout.PatternLayout" value="{%level} %date{MM/dd HH:mm:ss} - %message %exception" />
        </appender>
        <root>
            <level value="ALL" />
            <!--<appender-ref ref="UdpAppender" />-->
        </root>
    </log4net>
</configuration>